$text-color:                  #1a1a1a;
$bg-color:                    #efefef;
$second-color-dark:           #0f203e;
$second-color-light:          #2c4d89;
$second-color-lightest:       #ececec;

$font-family:                 sans-serif;
$font-size:                   14px;
$line-height:                 1.4;

$screen-xs:                   640px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1280px;
$screen-xl:                   1920px;
